@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;800&display=swap');

:root {
    --primary-color: #333333;
    --second-color: #FCFAF9;
    --third-color: grey;
    --clean-grey: #ccc;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    background: var(--primary-color);
    height: 100vh;
    margin: 0 auto;
    display: flex;
}
